@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: "proxima-nova", "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* https://tailwindcss.com/docs/colors#default-color-palette-reference */
    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.97 0 0);
    --color-gray-200: oklch(0.922 0 0);
    --color-gray-300: oklch(0.87 0 0);
    --color-gray-400: oklch(0.708 0 0);
    --color-gray-500: oklch(0.556 0 0);
    --color-gray-600: oklch(0.439 0 0);
    --color-gray-700: oklch(0.371 0 0);
    --color-gray-800: oklch(0.269 0 0);
    --color-gray-900: oklch(0.205 0 0);
    --color-gray-950: oklch(0.145 0 0);

    /* --color-brand: var(--color-teal-600); */
    /* --color-brand: #86a397; */
    /* --color-brand: #006b4e; */

    --color-brand: #0978be;
    --color-brand-light: #deedfc;
    --color-brand-lighter: #ecf5ff;

    --shadow-base: 0 0px 0px 1px rgba(0, 0, 0, 0.06),
        0 1px 1px -0.5px rgba(0, 0, 0, 0.06),
        0 3px 3px -1.5px rgba(0, 0, 0, 0.06);
    --shadow-base-popup: 0px 0px 0px 1px rgba(0, 0, 0, 0.06),
        0px 4px 8px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.08);

    --text-sm: 15px;
    --text-xs: 14px;
}

@layer base {
    body {
        /* bg-gray-50/50 before */
        @apply font-sans text-sm antialiased bg-gray-50;
    }
}
